<!DOCTYPE html>
<html>
<head>
    <title> Curso Vue Archivo 1</title>
</head>
<body>
<div id="app">
    <form @submit.prevent="submit()" method="get" >
        <h2> Elije colores ... </h2><br />
        <template v-for="color in colores" >
            <input v-model="coloresSeleccionados" type="checkbox" :id="color.nombre" :value="color.value">
            <label :for="color.value"> {{ color.nombre }} </label>
        </template>
        <button type="submit"> Enviar </button>
    </form>
</div>
<script src="../../src/vue.js"></script>
<script type="text/javascript">
    let app = new Vue(
        {
            el:'#app',
            data:
                {
                    colores : [{ nombre:'Rojo', value:'1'},
                        { nombre:'Amarillo', value:'2'},
                        { nombre:'Verde ', value:'3'},
                        { nombre:'Azul', value:'4'}],
                    coloresSeleccionados : []
                },
            methods:
                {
                    submit: function ()
                    {
                        console.log('se ejecuta el metodo submit')
                        console.log(this.coloresSeleccionados)
                    }
                }
        })
</script>
</body>
</html>
